<!-- 模板-->
<include file="Public:head" />
<include file="Public:left" />
<link rel="stylesheet" href="__PUBLIC__/assets/js/zTree/zTreeStyle.css" />
<script src="__PUBLIC__/assets/js/zTree/jquery.ztree.core.js"></script>
<script src="__PUBLIC__/assets/js/zTree/jquery.ztree.excheck.js"></script>

<script>
    var setting = {
        view: {
            showIcon: false
        },
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true,
                pIdKey : 'pid'
            }
        }
    };

    var zNodes = {$nodeJsonStr};

    var code;

    function setCheck() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                py = "p",
                sy = "s",
                pn = "p",
                sn = "s",
                type = { "Y":py + sy, "N":pn + sn};
        zTree.setting.check.chkboxType = type;
        showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
    }
    function showCode(str) {
        if (!code) code = $("#code");
        code.empty();
        code.append("<li>"+str+"</li>");
    }

    $(document).ready(function(){
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        setCheck();
        $("#py").bind("change", setCheck);
        $("#sy").bind("change", setCheck);
        $("#pn").bind("change", setCheck);
        $("#sn").bind("change", setCheck);

        //
        $("#saveBtn").click(function(){
            $(".loading_area").fadeIn();
            var nodes = $.fn.zTree.getZTreeObj("treeDemo").getCheckedNodes(true);
            var access = [];
            $.each(nodes, function(i){
                access.push(nodes[i].id);
            });
            $.post("__APP__/Admin/Rbac/accessHandler", {"access" : access, "rid" : $("#rid").val() }, function(data){
                $(".loading_area").fadeOut(1500);
                $(".pop_bg .pop_cont h3").text("提示信息");
                $(".pop_bg .pop_cont .pop_cont_text").text(data.message);
                $(".pop_bg").fadeIn();
                setTimeout(function(){
                    $(".pop_bg").fadeOut();
                    window.location.reload();
                },2000);
            });
        });
    });

</script>
<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
     <!--开始：以下内容则可删除，仅为素材引用参考-->
     <section>
         <h2><strong style="color:grey;">正在给【{$role.name}】配置权限</strong></h2>
         <div class="checkWrap" style="margin-left : 100px;">
             <input type="hidden" name="rid" id="rid" value="{$role.id}" />
             <ul id="treeDemo" class="ztree" style="margin-bottom:20px;"></ul>
             <input type="submit" class="link_btn" id="saveBtn" value="保存"/>
         </div>

     </section>

     <section class="loading_area">
         <div class="loading_cont">
             <div class="loading_icon"><i></i><i></i><i></i><i></i><i></i></div>
             <div class="loading_txt"><mark>数据正在加载，请稍后！</mark></div>
         </div>
     </section>
     <section class="pop_bg">
         <div class="pop_cont">
             <!--title-->
             <h3><!--标题--></h3>
             <div class="pop_cont_text">
                 <!--内容-->
             </div>
         </div>
     </section>
    <!--结束：以下内容则可删除，仅为素材引用参考-->
 </div>
</section>

<include file="Public:foot" />
