<!-- 模板-->
<include file="Public:head" />
<include file="Public:left" />


<section class="rt_wrap content mCustomScrollbar">
 <div class="rt_content">
     <!--开始：以下内容则可删除，仅为素材引用参考-->
     <section>
         <h2><strong style="color:grey;">编辑权限</strong></h2>
         <ul class="ulColumn2">
             <form action="__APP__/Admin/Rbac/addNodeHandler" method="post">
                 <input type="hidden" name="id" value="{$item.id}" />
                 <li>
                     <span class="item_name" style="width:120px;">权限英文名称：</span>
                     <input type="text" class="textbox textbox_225" name="name" value="{$item.name}"/>
                 </li>
                 <li>
                     <span class="item_name" style="width:120px;">权限中文名称：</span>
                     <input type="text" class="textbox textbox_225" name="title" value="{$item.title}"/>
                 </li>
                 <li>
                     <span class="item_name" style="width:120px;">是否启用：</span>
                     <label class="single_selection"><input type="radio" name="status" value="1" checked/>启用</label>
                     <label class="single_selection"><input type="radio" name="status" value="0" <eq name="item.status" value="0">checked</eq>/>禁用</label>

                 </li>
                 <li>
                     <span class="item_name" style="width:120px;">类型：</span>
                     <select class="select textbox_100" name="type" style="width:100px">
                         <option value="1">项目</option>
                         <option value="2">模块</option>
                         <option value="3">操作</option>
                         <option value="4">功能</option>
                     </select>
                 </li>
                 <li>
                     <span class="item_name" style="width:120px;">父级：</span>
                     <select class="select textbox_100" name="pid">
                         <option value="0">根节点</option>
                         <volist name="node" id="vo">
                             <option value="{$vo.id}">
                                 <for start="1" end="$vo['level']">&nbsp;&nbsp;</for>
                                 |- {$vo.title}
                             </option>
                         </volist>
                     </select>
                 </li>

                 <li>
                     <span class="item_name" style="width:120px;">描述：</span>
                     <input type="text" class="textbox textbox_225" name="remark" value="{$item.remark}"/>
                 </li>
                 <li>
                     <span class="item_name" style="width:120px;">排序：</span>
                     <input type="text" class="textbox textbox_100" name="sort" value="{$item.sort}"/>
                 </li>
                 <li>
                     <span class="item_name" style="width:120px;"></span>
                     <input type="submit" class="link_btn" value="保存"/>
                 </li>
             </form>
         </ul>
     </section>
     <!--结束：以下内容则可删除，仅为素材引用参考-->
 </div>
</section>

<include file="Public:foot" />
