<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
    <h2><a href="index.php">起始页</a></h2>
    <ul>
        <volist name="nodeList" id="vo">
        <li>
            <dl>
                <dt>{$vo.title}</dt>
                <!--当前链接则添加class:active-->
                <volist name="vo.nodes" id="svo">
                    <if condition="($vo.name eq $controller_name) and ($svo.name eq $action_name)">
                        <dd><a href="__APP__/Admin/{$vo.name}/{$svo.name}" class="active">{$svo.title}</a></dd>
                        <else/>
                        <dd><a href="__APP__/Admin/{$vo.name}/{$svo.name}">{$svo.title}</a></dd>
                    </if>
                </volist>
            </dl>
        </li>
        </volist>
        <li>
            <dl>
                <dt>会员管理</dt>
                <dd><a href="#">会员列表</a></dd>
                <dd><a href="#">添加会员</a></dd>
                <dd><a href="#">会员等级</a></dd>
                <dd><a href="#">资金管理</a></dd>
            </dl>
        </li>
        <li>
            <dl>
                <dt>基础设置</dt>
                <dd><a href="#">站点基础设置</a></dd>
                <dd><a href="#">SEO设置</a></dd>
                <dd><a href="#">SQL语句查询</a></dd>
                <dd><a href="#">模板管理</a></dd>
            </dl>
        </li>
    </ul>
</aside>