<!DOCTYPE HTML>
<html>
<head>
    <title>后台管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/assets/css/main-min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="header">

        <div class="dl-title">
        <!--<img src="/chinapost/Public/assets/img/top.png">-->
        </div>

        <div class="dl-log">欢迎您，
            <span class="dl-log-user">{$uname}</span>
            <a href="{:U('Index/logout')}" title="退出系统" class="dl-log-quit">[退出]</a>
        </div>
    </div>
    <div class="content">
        <div class="dl-main-nav">
            <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
            <ul id="J_Nav"  class="nav-list ks-clear">
                <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>
            </ul>
        </div>
        <ul id="J_NavContent" class="dl-tab-conten"></ul>
    </div>
    <script type="text/javascript" src="__PUBLIC__/assets/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/bui-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/common/main-min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/config-min.js"></script>
    <script>
        BUI.use('common/main',function(){
            var config = [{
                id:'0',
                menu:[{
                        text:'用户管理',
                        items:[
                            {id:'11',text:'用户管理',href:"{:U('User/index')}"}
                        ]
                    },{
                        text:'菜品管理',
                        items:[
                            {id:'21',text:'分类管理',href:"{:U('Food/foodCat')}"},
                            {id:'22',text:'菜品管理',href:"{:U('Food/food')}"}
                        ]
                },{
                    text:'订单管理',
                    items:[
                        {id:'31',text:'已付款订单',href:"{:U('Order/index?status=1')}"},
                        {id:'32',text:'待收货订单',href:"{:U('Order/index?status=2')}"},
                        {id:'33',text:'已收货订单',href:"{:U('Order/index?status=3')}"},
                    ]
                },{
                    text:'配置管理',
                    items:[
                        {id:'41',text:'配置管理',href:"{:U('Syscfg/index')}"}
                    ]
                }]
            },];
            new PageUtil.MainPage({
                modulesConfig : config
            });
        });
    </script>
 </body>
</html>